.gamefield .row {
    background-color: antiquewhite;
    width: 34.3vw;
    height: 12vw;
}

.gamefield #row-3 {
    height: 10vw;
}

.gamefield .cell {
    background-color: #a675d4;
    width: 10vw;
    height: 10vw;
    display: inline-block;
    position: relative;
}

.gamefield [data-cell="1"] {
    margin-right: 0.75vw;
}
.gamefield [data-cell="2"] {
    margin-right: 0.75vw;
    margin-left: 0.75vw;
}
.gamefield [data-cell="3"] {
    margin-left: 0.75vw;
}
.gamefield .cell[data-type="none"] {
    background-color: #a675d4;
}
.gamefield .cell[data-type="player-o"] {
    background-color: #9c741c;
}
.gamefield .cell[data-type="player-x"] {
    background-color: #2b9422;
}
